<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>

<a href="/login/facebook">Log In with Facebook</a>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>
